#cartWrapper {
  opacity: 1;
  transition: opacity 0.5s ease;
}

#cartWrapper.fade-out {
  opacity: 0;
}

/* Thank you message appearance */
#thankYouMessage {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
  font-size: 40px;
  font-weight: 1000;
}

#addressForm input {
  background-color:rgb(235, 235, 235);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}

#popupNotification {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 9999;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#popupMessage {
  background: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 90%;
  width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}


.btn {
  padding: 9px 35px;
  width: 157px;
}

#thankYouMessage.show {
  opacity: 1;
  visibility: visible;
}

#homeBtn {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

#homeBtn.show {
  opacity: 1;
  visibility: visible;
}

#homeBtn.show:hover {
  background-color: #dac155;
  opacity: 1;
  visibility: visible;
}

/* Optional: smooth fade-out for checkout button */
#checkoutBtn {
  transition: opacity 0.5s ease;
}

#checkoutBtn.hidden {
  opacity: 0;
  pointer-events: none;
}

.hidden {
  opacity: 0;
  visibility: hidden;
  display: none;
}

.wishlistImg {
    width: 30px;
}

.wishlistImg:hover {
    width: 30px;
}

#addressForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}
