#purchasedSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

#purchasedItemsContainer {
  display: flex;
  flex-direction: column;
  gap: 30px; /* spacing between items */
  width: 100%;
  align-items: center;
}

.product-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 400px;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.product-image {
  max-height: 23rem;
  max-width: 100%;
  object-fit: cover;
  margin-bottom: 10px;
}

.product-name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
  text-transform: none;
}

.product-price {
  font-size: 16px;
  margin-bottom: 5px;
}

.product-quantity {
  font-size: 14px;
  color: #555;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.modal.active {
  display: flex;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  text-align: center;
}

.modal-content h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.modal-content input[type="text"] {
  width: 100%;
  padding: 10px 12px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 15px;
}

.modal-content button {
  margin: 5px;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.confirm-btn { background-color: #4CAF50; color: white; }
.cancel-btn { background-color: #f44336; color: white; }

.edit-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-left: 5px;
}

.text-content {
  display: grid;
  grid-template-columns: 1fr 0fr;
}
